<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Capital Table</h1>
        <table border="3px">
            <tr>
                <th>pk/id</th>
                <th>cname</th>
                <th>cappop</th>
                <th>capname</th>
            </tr>
        {% for CP in capitals %}
            <tr>
                <td>pk</td>
                <td>{{CP.cname}}</td>
                <td>{{CP.cappop}}</td>
                <td>{{CP.capname}}</td>
            </tr>
        {% endfor %}

        </table>
    </center>
</body>
</html>